<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 添加网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyLibrary">
        <activity android:name=".GarbageTypeDetailActivity" />
        <activity android:name=".GarbageClassifyActivity" />
        <activity android:name=".GarbageSeachActivity" />
        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".GarbageMainActivity" />
        <activity android:name=".CommentListActivity" />
        <activity android:name=".LibraryDetailActivity" />
        <activity android:name=".LoveActivity" />
        <activity
            android:name=".LibraryListActivity"
            android:exported="true" /> <!-- 添加http请求支持 -->
        <activity
            android:name=".LoveSearchActivity"
            android:exported="true" /> <!-- 添加http请求支持 -->
        <activity
            android:name=".LoveTypeActivity"
            android:exported="true" /> <!-- 添加http请求支持 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>